*{
  box-sizing: content-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

nav {
  color: white;
  background-color: rgb(35, 35, 61);
}

nav ul {
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  max-width: 1200px;
  margin: auto;
}

nav li {
  cursor: pointer;
  transition: 0.2s;
}
nav li:hover {
  color: wheat;
}

.landing-img {
  width: 40%;
}
.landing-img img {
  width: 95%;
}
.introduction {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1600px;
  margin: 3rem auto 2rem;
}

.introduction h1 {
  color: rgb(252, 125, 52);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.introduction-text {
  width: 60%;
  margin-left: 1rem;
  line-height: 1.5;
  font-size: 1.2rem;
}

.introduction-text > p {
  font-weight: 700;
}

/*======= Liste des différents types de dev========= */
/* ============================ */
.categories {
  margin-top: 2rem;
  font-size: 1rem;
}

.categories li {
  margin-bottom: 1rem;
}
.categories li::before {
  content: " - ";
}

.categories > p {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.bold {
  color: rgb(252, 125, 52);
  font-weight: 800;
}

/* ======CTA Formations========== */
/* ============================= */
.courses {
  margin-top: 3rem;
  text-align: center;
}

.courses h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.courses button {
  color: #fff;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 10px;
  background-color: #51bfa6;
  font-size: 1.5rem;
  border-radius: 50px;
  border: none;
  padding: 0.5em 2em;
  cursor: pointer;
  transition: 0.3s;
}

.courses button:hover {
  background-color: #48a790;
}

/*======= Footer====== */
/*======================= */
footer {
  margin-top: 2.8rem;
  background-color: #f6cc7e;
  padding: 1rem;
}

footer ul {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
}

footer ul li {cursor: pointer;}